mat-toolbar {
  position: relative;
  font-family: "Alice", serif;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-color);
  height: auto;
  margin: 0 auto; /* Centrar el mat-toolbar */
  max-width: 100%; /* Evitar que supere el ancho de pantalla */
  width: 100%; /* Ocupa todo el ancho disponible */
  box-sizing: border-box; /* Considerar padding y border en el cálculo del width */
  flex-wrap: wrap; /* Permitir que el contenido pase a la siguiente línea si es necesario */
}


.left-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0.5em 2em;
  flex: 1;
}

.whatsapp-fijo {
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 1000; /* Asegúrate de que esté por encima de otros elementos */
  width: 60px; /* Tamaño del ícono */
  height: 60px;
}

.whatsapp-fijo img {
  width: 100%;
  height: 100%;
}

.logo-container {
  margin-right: 20px;
}

.desktop-menu {
  display: flex;
  gap: 20px;
  align-items: center;
}

.nav-link a {
  color: var(--font-color);
  text-decoration: none;
  list-style-type: none;
  font-family: "Alice", serif;
  margin-left: 0.5em;

}

.logo {
  width: 110px;
  height: auto;
}

.contact-button {
  padding: 10px 20px;
  background-color: var(--accent-color);
  border-radius: 20px;
  z-index: 1;
}

.contact-button, a {
  color: var(--font-color);
  text-decoration: none;
  list-style-type: none;
}

.toolbar-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu-button {
    display: none; 
  }
  
  .desktop-menu {
    gap: 1rem;
    display: flex; 
  }

  .image-content img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
  }
  
  .text-content {
    padding: 20px;
  }

  .content-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /* Asegura que el contenido principal ocupe el espacio restante */
  }
  
  main {
    flex: 1;
    display: flex;
    flex-direction: column;

  }
@media only screen and (max-width: 1000px) {
  .menu-button {
    display: block;
    color: #fff; 
  }

  .contact-button { 
    display: none;
  }

  .desktop-menu {
    display: none; 
  }    
  
  .sidenav-container {
      display: block; 
  }

  img { 
    width: 10em;
  }

  .mat-toolbar-row, .mat-toolbar-single-row { 
    justify-content: space-around;
    background-color: var(--color-background);
}

.mat-toolbar {
  margin-top: 0;
  margin-bottom: 0;
  }
}

@media (max-width: 768px) {
  .whatsapp-fijo {
    width: 50px; 
    height: 50px;
    bottom: 3.5em; 
    right: 20px;
  }
}

@media (max-width: 480px) {
  .whatsapp-fijo {
    width: 40px; 
    height: 40px;
    bottom: 3.5em; 
    right: 15px;
  }
}