<section class="meditations-section">
    <div class="overlay">
        <h1 class="section-title">Meditaciones Guiadas</h1>
    </div>

    
    <div class="meditation-audios">
        <div class="audio-card">
            <h2>Bienvenido Caminante</h2>
            <audio controls>
                <source src="../../../../assets/audios/MEDITACIÓN  BIENVENIDO CAMINANTE.mp3" type="audio/mpeg">
                Tu navegador no soporta el elemento de audio.
            </audio>
            <img src="https://firebasestorage.googleapis.com/v0/b/grupoprimerospasos-59ef3.firebasestorage.app/o/meditaciones%2Fmeditacion%20(1).png?alt=media&token=88221d03-c121-45b0-82e1-d3fc6800e2dd" alt="Meditación" class="medi">
        </div>
        <div class="audio-card">
            <h2>Para Contemplar</h2>
            <audio controls>
                <source src="../../../../assets/audios/MEDITACIÓN PARA CONTEMPLAR.mp3" type="audio/mpeg">
                Tu navegador no soporta el elemento de audio.
            </audio>
            <img src="https://firebasestorage.googleapis.com/v0/b/grupoprimerospasos-59ef3.firebasestorage.app/o/meditaciones%2Fmeditacion%20(2).png?alt=media&token=ac26f276-39fc-400f-985d-be0df4ed2dd6" alt="Meditación" class="medi">
        </div>
        <div class="audio-card">
            <h2>Tu legado</h2>
            <audio controls>
                <source src="https://firebasestorage.googleapis.com/v0/b/app-fotos-c0385.firebasestorage.app/o/gpp%2Fmeditacion%2Fmeditacion%20(3).png?alt=media&token=51f9b869-f688-48db-beef-2f13904e6f76" type="audio/mpeg" type="audio/mpeg">
                Tu navegador no soporta el elemento de audio.
            </audio>
            <img src="https://firebasestorage.googleapis.com/v0/b/grupoprimerospasos-59ef3.firebasestorage.app/o/meditaciones%2Fmeditacion%20(3).png?alt=media&token=48fc2172-02e3-41e6-b0c1-be2237be774a" alt="Meditación" class="medi">
        </div>
  


    