<!-- <section class="container">
    <h1>MEDITACIONES GRATUITAS</h1>
    <div class="row">
        <div class="col-12 col-md-4 audio-content card shadow">
            <h2>Bienvenido caminante</h2>
            <audio controls style="margin: 1em;">
                <source src="../../../../assets/audios/MEDITACIÓN  BIENVENIDO CAMINANTE.mp3" type="audio/mpeg">
                Tu navegador no soporta el elemento de audio.
            </audio>
            <img src="../../../../assets/medi.JPG" alt="Meditación" class="medi">
        </div>
        <div class="col-12 col-md-4 audio-content card shadow">
            <h2>Para contemplar</h2>
            <audio controls style="margin: 1em;">
                <source src="../../../../assets/audios/MEDITACIÓN PARA CONTEMPLAR.mp3" type="audio/mpeg">
                Tu navegador no soporta el elemento de audio.
            </audio>
            <img src="../../../../assets/MEDITACION3.JPG" alt="Meditación" class="medi">
        </div>
        <div class="col-12 col-md-4 audio-content card shadow">
            <h2>Tu legado</h2>
            <audio controls style="margin: 1em;">
                <source src="../../../../assets/audios/MEDITACIÓN TU LEGADO.mp3" type="audio/mpeg">
                Tu navegador no soporta el elemento de audio.
            </audio>
            <img src="../../../../assets/meditacion.jpg" alt="Meditación" class="medi">
        </div>
    </div>
</section> -->

<section class="meditations-section">
    <div class="overlay">
        <h1 class="section-title">Meditaciones Guiadas</h1>
    </div>

    
    <div class="meditation-audios">
        <div class="audio-card">
            <h2>Bienvenido Caminante</h2>
            <audio controls>
                <source src="../../../../assets/audios/MEDITACIÓN  BIENVENIDO CAMINANTE.mp3" type="audio/mpeg">
                Tu navegador no soporta el elemento de audio.
            </audio>
            <img src="https://firebasestorage.googleapis.com/v0/b/app-fotos-c0385.firebasestorage.app/o/gpp%2Fmeditacion%2Fmeditacion%20(1).png?alt=media&token=d33019cf-fbad-4337-94e5-f7836593df57" alt="Meditación" class="medi">
        </div>
        <div class="audio-card">
            <h2>Para Contemplar</h2>
            <audio controls>
                <source src="../../../../assets/audios/MEDITACIÓN PARA CONTEMPLAR.mp3" type="audio/mpeg">
                Tu navegador no soporta el elemento de audio.
            </audio>
            <img src="https://firebasestorage.googleapis.com/v0/b/app-fotos-c0385.firebasestorage.app/o/gpp%2Fmeditacion%2Fmeditacion%20(3).png?alt=media&token=51f9b869-f688-48db-beef-2f13904e6f76" alt="Meditación" class="medi">
        </div>
        <div class="audio-card">
            <h2>Tu legado</h2>
            <audio controls>
                <source src="https://firebasestorage.googleapis.com/v0/b/app-fotos-c0385.firebasestorage.app/o/gpp%2Fmeditacion%2Fmeditacion%20(3).png?alt=media&token=51f9b869-f688-48db-beef-2f13904e6f76" type="audio/mpeg" type="audio/mpeg">
                Tu navegador no soporta el elemento de audio.
            </audio>
            <img src="https://firebasestorage.googleapis.com/v0/b/app-fotos-c0385.firebasestorage.app/o/gpp%2Fmeditacion%2Fmeditacion%20(2).png?alt=media&token=0b37a941-c525-4b6a-bc6b-72fa6a9744f0" alt="Meditación" class="medi">
        </div>
  


    