.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Altura completa de la ventana */
  }
  
  iframe {
    max-width: 100%;
    max-height: 100%;
  }
  