<div  mat-dialog-content class="modal-container">
    <button mat-icon-button class="close-button" mat-dialog-close aria-label="Cerrar" (click)="cerrarModal()">
        <mat-icon>close</mat-icon>
    </button>
    <h1 class="modal-title">SEMINARIO DE COMPROMISO PERSONAL</h1>
    <p>El seminario de Compromiso Personal consta de tres módulos; (un domingo al mes), y se trata de una entrenamiento grupal y experiencial especialmente diseñado para que el participante logre comprometerse consigo mismo como nunca antes. </p>
    <p>Nuestros egresados alcanzan una visión mucho más completa y efectiva de la vida luego de realizarlo; encontrando el camino de crecimiento personal como la base de su realización personal.
    </p>
    <p>Este seminario está pensado para personas:
    </p>
    <ul>
        <li>Que a pesar de saber qué tienen que hacer, no logran comprometerse consigo mismas o con sus sueños.</li>
        <li>Que están estancadas en la no realización personal.
        </li>
        <li>Cuyas vidas están dominadas por la procrastinación.
        </li>
        <li>Que tienen dificultad para percibir las señales del éxito.
        </li>
        <li>Que están más comprometidas con los otros que consigo mismas.
        </li>
        <li>Que no logran desbloquear su potencial para ser prósperas y abundantes.
        </li>
        <li>Que no pueden o no encuentran herramientas para generar orden y dirección en sus vidas.
        </li>
        <li>A quienes las impacta la actualidad, sumidas en el miedo y los “no puedo”.
        </li>
        <li>Que están dominadas por sus comportamientos autodestructivos.
        </li>
        <li>Que no logran visualizarse como exitosas.
        </li>

    </ul>
    <p>Si te identificas con alguno de estos problemas, este seminario es para vos. 
    </p>
    <p><strong>BENEFICIOS DE HACER EL SEMINARIO</strong> </p>
    <ul>
        <li>Vas a poder comprometerte contigo mismo y con la vida que quieres alcanzar.
        </li>
        <li>Lograrás un alto nivel de compromiso con los resultados que necesitas experimentar en tu vida.</li>
        <li>Vencerás la procrastinación mediante la aplicación de las herramientas provistas en el seminario.</li>
        <li>Aprenderás a identificar las señales que hay en el camino rumbo a tus sueños y a la realización personal.</li>
        <li>Lograrás darte prioridad en forma definitiva.
        </li>
        <li>Gozarás de una orden en tu vida y la consecución de resultados de manera integral mediante la práctica de las herramientas impartidas en el seminario.
        </li>
        <li>Lograrás comprometerte contigo mismo como nunca antes lo has hecho.
        </li>
        <li>Lograrás una forma diferente de percibir la realidad.
        </li>
        <li>Aprenderás a visualizarte como exitoso.
        </li>
    </ul>
    <p><strong>Está creado para que te funcione.
    </strong> </p>
    <p>Comunícate con nosotros. </p>
    <p>Tu oportunidad te está esperando.     </p>
</div>