<main>
  <section class="main-content">
    <div class="text-content d-flex justify-content-center align-items-center">
      <h1 style="font-size: 4em; font-weight: 600;">Conciencia & Expansión</h1>
    </div>
    <div class="image-content">
      <img src="../../../../assets/portada.jpg" alt="Grupo de personas" class="shadow-image">
    </div>
  </section>
  <section class="quienes-somos">
    <div class="row">
      <div class="col-5 imagen">
        <h1 class="h1"><strong style="color: #ff6600;">¿QUIÉNES SOMOS?</strong></h1>
      </div>
      <div class="col-7" style="font-style: italic;">
        <p>Somos una <strong>escuela de liderazgo con más de una década de experiencia</strong>  en la formación de líderes de calidad humana; y cientos de seminarios dictados, abierta a quien quiera auto descubrirse y desee el éxito en su vida; gestionado tanto en su rol personal como profesional, sin distinciones políticas o religiosas de ningún tipo.</p>
        <p>Nos ocupa el <strong>crecimiento y mejora continua</strong>  tanto personal, como profesional y espiritual de nuestros participantes en consonancia con su propio y particular propósito de vida; que constituye el descubrimiento más importante en nuestro espacio de trabajo.</p>
        <p>Desde nuestra institución, promovemos y potenciamos el <strong>amor propio, la autoestima y el liderazgo,</strong> entendiéndolo fundamental para la realización y éxito de proyectos, objetivos y metas; como así también, de las relaciones humanas desde cada uno de los roles que desempeñan nuestros integrantes en las distintas áreas de su vida.</p>
      </div>
    </div>
  </section>
  
  <section class="main-content">
    <div class="row seba">
      <div class="col-8">
        <p>Sebastián Ruiz es el Director y Facilitador de “GRUPO PRIMEROS PASOS”, lo fundó en el año 2012 y se desempeña en el aprendizaje y educación transformacional, con la firme convicción de formar líderes de calidad humana, siendo la integración holística de los participantes su principal misión, y el servicio al prójimo el punto de encuentro de todos sus miembros, basado en el método educativo desarrollado por la Universidad de Santa Mónica y reproducido en América y el resto del mundo por las más prestigiosas organizaciones educativas.</p>
        <p>Desde el 2004 cuando el coaching estaba recién empezando en Argentina, Sebastián tomó su primer seminario de desarrollo personal y profesional, para ya no dejar de trabajar en la materia.</p>
        <p>Durante más de 8 años se entrenó profesionalmente para brindar poderosas herramientas de coaching y crear situaciones vivenciales de expansión, abordando la tarea de facilitar con visión y propósito, convirtiéndose en un profesional que vive como se enseña y es congruente con la información entregada en cada seminario.</p>
      </div> 
      <div class="col-4 d-flex justify-content-center align-items-center ">
        <img src="../../../../assets/perfil.jpeg" alt="Foto del facilitador" class="perfil "/> 
      </div>
    </div>
  </section>
</main>


