<div  mat-dialog-content class="modal-container">
    <button mat-icon-button class="close-button" mat-dialog-close aria-label="Cerrar" (click)="cerrarModal()">
        <mat-icon>close</mat-icon>
    </button>
    <h1 class="modal-title">SEMINARIO DE EXCELENCIA PERSONAL Y LIDERAZGO </h1>
    <p>El seminario de EXCELENCIA PERSONAL Y LIDERAZGO es un entrenamiento grupal de 9 módulos de duración (1 por mes), diseñado para que vos como participante logres desafiar tus propios paradigmas y miedos; desarrollando habilidades potenciales y explorando tu propio mundo interior más allá de todos tus supuestos “no puedo”, de una manera nunca antes experimentada.</p>
    <p>Transitar ese mundo interior amorosamente significa encontrarte con EL PODER NECESARIO PARA DECIDIR qué querés para tu propia vida, y qué es aquello que ya no querés más. Tomar las riendas de tu propia existencia sin lugar a dudas es uno de los principales beneficios de este entrenamiento.</p>
    <p>Es importante que sepas que este entrenamiento está diseñado para que te funcione más que para que te guste. Vamos a trabajar intensamente para desbloquear esas áreas de tu vida en las que te puede estar faltando efectividad o asertividad; y para eso es necesario contar con tu compromiso al 100 %; el nuestro ya lo tenés por adelantado.</p>
    <p>Entendemos a este seminario como un proceso de 9 meses que te llevará a encontrarte indefectiblemente con tu propia esencia. Con QUIÉN SOS en realidad y qué has venido a hacer a este mundo. Algo así como un nuevo nacimiento; solo que ahora el protagonista de cada una de tus instancias serás vos, única y exclusivamente. A lo largo de este año; si decidís transitar este entrenamiento, te irás dando cuenta cómo tu esencia florece de una manera que no podrías imaginar. </p>
    <p>Ponerte en contacto con el milagro que existe en tu interior y la abundancia que te rodea, se expresará sin lugar a dudas en un nuevo espacio en tu vida, de amor, autoestima, liderazgo, abundancia y de prosperidad.</p>
    <p>Estos son algunos de los beneficios que le aportará a tu vida participar de este seminario:</p>
    <ul>
        <li>Mayor autoestima.</li>
        <li>Liderazgo de tu propia vida.</li>
        <li>Liderazgo grupal.</li>
        <li>Mejorar la relación con vos mismo y con las personas a las que amas.</li>
        <li>Identificar fortalezas y debilidades de tu personalidad.</li>
        <li>Diseñar tu futuro de una manera desapegada y asertiva.</li>
        <li>Identificar a los manipuladores (vampiros de energía) a tiempo para avanzar hacia tu propia realización.</li>
        <li>Identificar, organizar y ejecutar tus metas para alcanzar el éxito en tus proyectos.</li>
        <li>Administrar tus emociones correctamente.</li>
        <li>Desarrollar habilidades potenciales.</li>
        <li>Ejercer una espiritualidad activa, más allá de cualquier religión o credo para armonizar tu vida y tu hogar con aquello en lo que crees.</li>
        <li>Descubrir verdaderamente el caudal de amor que te rodea.</li>
        <li>Desarrollar hábitos saludables para tu vida y tu crecimiento tanto personal como profesional.</li>
        <li>Aprender habilidades de comunicación para expresarte adecuada y asertivamente, transmitiendo tus ideas y perspectivas de una manera profesional.</li>
        <li>Desarrollar habilidades de negociación.</li>
        <li>Desarrollar habilidades de comunicación y expresión con tus compañeros; logrando así una expansión permanente de tus fortalezas; uno de los principales elementos diferenciadores entre los que tenemos éxito y quienes no se animan a tenerlo.</li>
        <li>Aprender a trabajar en equipo de una manera profesional.</li>
        <li>Aprender a organizar tus proyectos y a evaluarlos hasta alcanzar tus sueños.</li>
        <li>Utilizar la ley de atracción a tu favor de manera consciente.</li>
        <li>Aprender a escucharte y a escuchar a lo demás desarrollando la habilidad de la empatía y el respeto como base de la comunicación.</li>
        <li>Liberarte de aquellos bloqueos que te impiden expresar tu vida desde la alegría; el agradecimiento y la libertad del ser.</li>
        <li>Resolver aquellos incompletos de tu pasado, como así la culpa, el resentimiento, la falta de acción y de protagonismo en tu propia vida.</li>
        <li>Aceptar el momento presente parado sobre tus propios pies; con amor, valentía y paz interior.</li>
        <li>Aprender a interpretar el feedback como una herramienta indispensable para tu crecimiento tanto personal como profesional. </li>
        <li>Transformarte en la mejor versión de vos mismo para transformar tu vida.</li>
        <li>Entre muchos beneficios más…</li>
        </ul>
        <p>La experiencia final del seminario o noveno módulo consiste en un retiro de cuatro días en Chile. Cabañas, playas, bosques y montañas; naturaleza absoluta y paisajes con el océano como protagonista; serán los escenarios en los que experimentarás una nueva forma de ver y transitar tu vida.</p>
        <p>Todo el equipo de GRUPO PRIMEROS PASOS te acompañará a lo que hemos dado en llamar: LA PLAYITA DEL SER. Hacia ese destino iniciamos camino en marzo. A lo largo del año; te brindaremos las herramientas para que, trabajando en equipo; esta experiencia sea posible.</p>
        <p>Seremos testigos todos de un momento absolutamente trascendental. Es allí; en donde, después de haberte preparado durante todo el año; podrás declarar QUIÉN SOS REALMENTE, libre de todos aquellos aspectos que ya no funcionan en tu vida.</p>
        <p>Esa DECLARACIÓN se constituirá en tu principal herramienta de realización personal, y desde ese momento la energía de tu propia esencia se desplegará ante tus ojos para apoyarte desde tu propio espíritu.</p>
        <p>Cientos de personas han transitado esta experiencia. Quizá tal como vos; tenían sus propios interrogantes a la hora de tomar la decisión. Ahora les podés consultar a ellos. No temas sacarte todas tus dudas.</p>
        <p>TODOS ESTAMOS PARA APOYARTE.</p>
        <p>Que sea este año el comienzo de una nueva y exitosa vida para vos y por consecuencia para tu entorno. Un nuevo espacio de liderazgo y realización personal está desplegado ante tus ojos. Una nueva oportunidad de transformarte en quien verdaderamente querés SER.</p>
        <p>Somos un equipo de seres humanos dispuestos a acompañarte y brindarte todo nuestro amor y profesionalismo en este camino.</p>
        <p>Es tu momento. Vamos a transitar un nuevo camino hacia tus sueños.</p>
</div>
