<section class="testimonials-container">
        <div class="overlay">
            <h1 class="section-title">Testimonios</h1>
        </div>

    <div class="testimonials-container">
        <!-- Primera fila -->
        <div class="row">
            <div class="col-12 col-sm-6 col-lg-4 testimonial-video">
                <iframe 
                    src="https://www.youtube.com/embed/N_hCZ-bB4so?rel=0&controls=0&showinfo=0"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen>
                </iframe>
            </div>
            
            <div class="col-12 col-sm-6 col-lg-4 testimonial-video">
                <iframe 
                    src="https://www.youtube.com/embed/xQAwSR7cZ7M?rel=0&controls=0&showinfo=0"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen>
                </iframe>
            </div>
            
            <div class="col-12 col-sm-6 col-lg-4 testimonial-video">
                <iframe 
                    src="https://www.youtube.com/embed/IIaI0Uyn2lo?rel=0&controls=0&showinfo=0"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen>
                </iframe>
            </div>
        </div>
        
        <!-- Segunda fila -->
        <div class="row">
            <div class="col-12 col-sm-6 col-lg-4 testimonial-video">
                <iframe 
                    src="https://www.youtube.com/embed/m1Prb3G6ZfI?rel=0&controls=0&showinfo=0"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen>
                </iframe>
            </div>
            
            <div class="col-12 col-sm-6 col-lg-4 testimonial-video">
                <iframe 
                    src="https://www.youtube.com/embed/dGkye6Ntxhk?rel=0&controls=0&showinfo=0"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen>
                </iframe>
            </div>
            
            <div class="col-12 col-sm-6 col-lg-4 testimonial-video">
                <iframe 
                    src="https://www.youtube.com/embed/gyx168fxigU?rel=0&controls=0&showinfo=0"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen>
                </iframe>
            </div>
        </div>
    </div>
</section>




