<!-- Slider Logo -->
<div class="slider_clientes">
  <div class="overlay"> 
    <h1>Momentos compartidos</h1>

  </div>
  <div class="slider_wrapper">
    <div class="slider_content" #sliderContent>
      <img src="https://firebasestorage.googleapis.com/v0/b/grupoprimerospasos-59ef3.firebasestorage.app/o/galeria%2F3e84c8c3-7341-4dff-8fa5-1c5bf3ddcd90.jpg?alt=media&token=31adcda6-d91b-41d7-9e0f-72b635a6f2a7">
      <img src="https://firebasestorage.googleapis.com/v0/b/grupoprimerospasos-59ef3.firebasestorage.app/o/galeria%2F466606901_1095926208831846_2817366262425403836_n.jpg?alt=media&token=be15c0d0-6d6c-46c2-8178-d3685f1dc5db">
      <img src="https://firebasestorage.googleapis.com/v0/b/grupoprimerospasos-59ef3.firebasestorage.app/o/galeria%2F5e48ffb6-ef40-4474-a38a-11f4b05e06bf.jpg?alt=media&token=0a34e08f-30da-439b-9d39-2fa4397dbe65">
      <img src="https://firebasestorage.googleapis.com/v0/b/grupoprimerospasos-59ef3.firebasestorage.app/o/galeria%2F6a3cda06-71ea-477a-aaf5-b9eaec7d72f0.jpg?alt=media&token=5436ede1-92d7-4eff-9b42-705c4d789629">
      <img src="https://firebasestorage.googleapis.com/v0/b/grupoprimerospasos-59ef3.firebasestorage.app/o/galeria%2F756913e1-cc86-4531-9af0-dcd93c231f12.jpg?alt=media&token=76dc7bb7-754d-45b8-a795-6097c400c021">
      <img src="https://firebasestorage.googleapis.com/v0/b/grupoprimerospasos-59ef3.firebasestorage.app/o/galeria%2F8acc791f-ec4b-4da9-8b48-f2758c9db9b7.jpg?alt=media&token=bce3ceae-0c3a-47d8-b790-a051afc4ea0a">
      <img src="https://firebasestorage.googleapis.com/v0/b/grupoprimerospasos-59ef3.firebasestorage.app/o/galeria%2FDSC_0032a.jpg?alt=media&token=907621a5-2db9-4ff1-bc11-59c72532aa8a">
      <img src="https://firebasestorage.googleapis.com/v0/b/grupoprimerospasos-59ef3.firebasestorage.app/o/galeria%2FDSC_0260.jpg?alt=media&token=ba52f926-568d-4829-8d61-4da633e7b90d">
      <img src="https://firebasestorage.googleapis.com/v0/b/grupoprimerospasos-59ef3.firebasestorage.app/o/galeria%2FDSC_0295.jpg?alt=media&token=86b93354-0651-45db-955a-503b1276c105">
      <img src="https://firebasestorage.googleapis.com/v0/b/grupoprimerospasos-59ef3.firebasestorage.app/o/galeria%2FDSC_0279.jpg?alt=media&token=64f71a2b-1c5f-457d-bffc-62ff51b058b8">
      <img src="https://firebasestorage.googleapis.com/v0/b/grupoprimerospasos-59ef3.firebasestorage.app/o/galeria%2FDSC_0295.jpg?alt=media&token=86b93354-0651-45db-955a-503b1276c105">
      <img src="https://firebasestorage.googleapis.com/v0/b/grupoprimerospasos-59ef3.firebasestorage.app/o/galeria%2FDSC_0451.jpg?alt=media&token=d2e9ea6a-5321-4bee-a017-8495e557b925">
      <img src="https://firebasestorage.googleapis.com/v0/b/grupoprimerospasos-59ef3.firebasestorage.app/o/galeria%2FDSC_0459.jpg?alt=media&token=1aab1d42-3313-48b9-84b1-584c9c7415b4">
      <img src="https://firebasestorage.googleapis.com/v0/b/grupoprimerospasos-59ef3.firebasestorage.app/o/galeria%2FDSC_0480.jpg?alt=media&token=e812822c-6c4b-4dd3-a509-62e6bb4cb303">
      <img src="https://firebasestorage.googleapis.com/v0/b/grupoprimerospasos-59ef3.firebasestorage.app/o/galeria%2FDSC_0469.jpg?alt=media&token=46e01e3e-9827-422f-bcd1-ea263740f3d8">
      <img src="https://firebasestorage.googleapis.com/v0/b/grupoprimerospasos-59ef3.firebasestorage.app/o/galeria%2FDSC_0533.jpg?alt=media&token=e919612c-436c-4c2e-aa80-9e99ad1461e8">
      <img src="https://firebasestorage.googleapis.com/v0/b/grupoprimerospasos-59ef3.firebasestorage.app/o/galeria%2FDSC_0594.jpg?alt=media&token=d58c441a-9a62-4ad1-aad9-0ad5ad9eeb61">
      <img src="https://firebasestorage.googleapis.com/v0/b/grupoprimerospasos-59ef3.firebasestorage.app/o/galeria%2FDSC_0603.jpg?alt=media&token=2a9756c1-843b-4f8e-802c-2a13f0f00876"/>
      <img src="https://firebasestorage.googleapis.com/v0/b/grupoprimerospasos-59ef3.firebasestorage.app/o/galeria%2FDSC_0888.jpg?alt=media&token=4ee25a39-e6a3-4070-ad2e-95368c38c3de"/>
      <img src="https://firebasestorage.googleapis.com/v0/b/grupoprimerospasos-59ef3.firebasestorage.app/o/galeria%2FDSC_0918.jpg?alt=media&token=65fae27f-8999-4735-a681-8f93d78b888f"/>
      <img src="https://firebasestorage.googleapis.com/v0/b/grupoprimerospasos-59ef3.firebasestorage.app/o/galeria%2FPXL_20230112_021953007.jpg?alt=media&token=78034602-563f-4b9f-a176-bc0ea32c8c0b"/>
      <img src="https://firebasestorage.googleapis.com/v0/b/grupoprimerospasos-59ef3.firebasestorage.app/o/galeria%2FPXL_20230112_023957279.jpg?alt=media&token=d1be7584-8175-44a7-8427-4bfeeadae309"/>
      <img src="https://firebasestorage.googleapis.com/v0/b/grupoprimerospasos-59ef3.firebasestorage.app/o/galeria%2Fa6f629f8-bb64-4cb3-8415-a027a1799c00.jpg?alt=media&token=f65e5785-331e-4d6d-b157-f8a373dc4fdf"/>
      <img src="https://firebasestorage.googleapis.com/v0/b/grupoprimerospasos-59ef3.firebasestorage.app/o/galeria%2Fb07cdc4a-e2e5-4f73-b9d5-f7bcebb4c6a4.jpg?alt=media&token=4516d862-1b4e-457c-bf05-bf8be12d3790"/>
      <img src="https://firebasestorage.googleapis.com/v0/b/grupoprimerospasos-59ef3.firebasestorage.app/o/galeria%2Ff2474b95-b49c-4985-875d-1ac338d6ac4d.jpg?alt=media&token=dde6af56-6d4f-465f-9aaa-df0264369e93"/>
      <img src="https://firebasestorage.googleapis.com/v0/b/grupoprimerospasos-59ef3.firebasestorage.app/o/galeria%2Ffoto%20(31).jpg?alt=media&token=effe0dc1-9821-4354-8986-087596a61fdb"/>

    </div>
  </div>
  <button class="slider_button prev" (click)="moveSlide(-1)">&#10094;</button>
  <button class="slider_button next" (click)="moveSlide(1)">&#10095;</button>
</div>
<!-- FIN Slider Logo -->

