<!-- Slider Logo -->
<div class="slider_clientes">
  <div class="overlay"> 
    <h1>Momentos compartidos</h1>

  </div>
  <div class="slider_wrapper">
    <div class="slider_content" #sliderContent>
      <img src="https://firebasestorage.googleapis.com/v0/b/app-fotos-c0385.firebasestorage.app/o/gpp%2Fgaleria%2F02b78bfb-0c3a-4e36-80de-b60469ad3eed.jpg?alt=media&token=897cd815-d5e4-41b9-b879-74d70d8741d3">
      <img src="https://firebasestorage.googleapis.com/v0/b/app-fotos-c0385.firebasestorage.app/o/gpp%2Fgaleria%2F3e84c8c3-7341-4dff-8fa5-1c5bf3ddcd90.jpg?alt=media&token=d2fe76b8-6829-4b38-9ab1-902d0bcd1fcb">
      <img src="https://firebasestorage.googleapis.com/v0/b/app-fotos-c0385.firebasestorage.app/o/gpp%2Fgaleria%2F466606901_1095926208831846_2817366262425403836_n.jpg?alt=media&token=ed1640fb-b567-47cd-9edc-7c20b9d0a9d5">
      <img src="https://firebasestorage.googleapis.com/v0/b/app-fotos-c0385.firebasestorage.app/o/gpp%2Fgaleria%2F5e48ffb6-ef40-4474-a38a-11f4b05e06bf.jpg?alt=media&token=a124043a-18e0-4fe3-909f-d9e62a134e2b">
      <img src="https://firebasestorage.googleapis.com/v0/b/app-fotos-c0385.firebasestorage.app/o/gpp%2Fgaleria%2F6a3cda06-71ea-477a-aaf5-b9eaec7d72f0.jpg?alt=media&token=cffca7bd-7af5-486d-8d38-ae1a6e1bf683">
      <img src="https://firebasestorage.googleapis.com/v0/b/app-fotos-c0385.firebasestorage.app/o/gpp%2Fgaleria%2F756913e1-cc86-4531-9af0-dcd93c231f12.jpg?alt=media&token=f614b448-28e2-4c62-addf-5e37d252a1c1">
      <img src="https://firebasestorage.googleapis.com/v0/b/app-fotos-c0385.firebasestorage.app/o/gpp%2Fgaleria%2F8acc791f-ec4b-4da9-8b48-f2758c9db9b7.jpg?alt=media&token=f968b38f-d3fd-4793-8ebd-bfd7fc50ad55">
      <img src="https://firebasestorage.googleapis.com/v0/b/app-fotos-c0385.firebasestorage.app/o/gpp%2Fgaleria%2FDSC_0032a.jpg?alt=media&token=bca394e9-3d1c-4ba9-8816-a86480e95100">
      <img src="https://firebasestorage.googleapis.com/v0/b/app-fotos-c0385.firebasestorage.app/o/gpp%2Fgaleria%2FDSC_0260.jpg?alt=media&token=5486e47b-ca68-4a0b-aa0b-bbb8affd7664">
      <img src="https://firebasestorage.googleapis.com/v0/b/app-fotos-c0385.firebasestorage.app/o/gpp%2Fgaleria%2FDSC_0268.jpg?alt=media&token=7f76e1c2-ba8e-48dd-9571-483073e4b92a">
      <img src="https://firebasestorage.googleapis.com/v0/b/app-fotos-c0385.firebasestorage.app/o/gpp%2Fgaleria%2FDSC_0279.jpg?alt=media&token=e0bfad98-eca9-4ac7-adcc-c0e2bce86449">
      <img src="https://firebasestorage.googleapis.com/v0/b/app-fotos-c0385.firebasestorage.app/o/gpp%2Fgaleria%2FDSC_0295.jpg?alt=media&token=936d62e2-e69f-49c1-82eb-0dcda382b377">
      <img src="https://firebasestorage.googleapis.com/v0/b/app-fotos-c0385.firebasestorage.app/o/gpp%2Fgaleria%2FDSC_0451.jpg?alt=media&token=84af656e-3b41-49fc-aef4-2bae147e00e1">

      <img src="https://firebasestorage.googleapis.com/v0/b/app-fotos-c0385.firebasestorage.app/o/gpp%2Fgaleria%2Fb07cdc4a-e2e5-4f73-b9d5-f7bcebb4c6a4.jpg?alt=media&token=3bae7041-104e-4559-aab0-61ff4c2552b2">
      <img src="https://firebasestorage.googleapis.com/v0/b/app-fotos-c0385.firebasestorage.app/o/gpp%2Fgaleria%2Fa6f629f8-bb64-4cb3-8415-a027a1799c00.jpg?alt=media&token=569f4afa-4d92-4b34-8223-817f1b1c3b5f">
      <img src="https://firebasestorage.googleapis.com/v0/b/app-fotos-c0385.firebasestorage.app/o/gpp%2Fgaleria%2FPXL_20230112_023957279.jpg?alt=media&token=1b159c78-3f2d-4000-b4cf-ea88a4a68df2">
      <img src="https://firebasestorage.googleapis.com/v0/b/app-fotos-c0385.firebasestorage.app/o/gpp%2Fgaleria%2FPXL_20230112_021953007.jpg?alt=media&token=86bed4fa-6c91-4f75-9a41-2f9221305fdf">
      <img src="https://firebasestorage.googleapis.com/v0/b/app-fotos-c0385.firebasestorage.app/o/gpp%2Fgaleria%2FDSC_0918.jpg?alt=media&token=ebdca964-e29b-41bd-aa63-16e0d2ea522d">
      <img src="https://firebasestorage.googleapis.com/v0/b/app-fotos-c0385.firebasestorage.app/o/gpp%2Fgaleria%2FDSC_0888.jpg?alt=media&token=f5ee97c1-cb8d-4c8b-a7d1-b1c7559b57ce"/>
      <img src="https://firebasestorage.googleapis.com/v0/b/app-fotos-c0385.firebasestorage.app/o/gpp%2Fgaleria%2FDSC_0603.jpg?alt=media&token=3467d199-0ec7-4b24-bab4-c18b6dafcac9"/>
      <img src="https://firebasestorage.googleapis.com/v0/b/app-fotos-c0385.firebasestorage.app/o/gpp%2Fgaleria%2FDSC_0594.jpg?alt=media&token=d45cb235-a1d5-45b4-b990-95d9c454e7c1"/>
      <img src="https://firebasestorage.googleapis.com/v0/b/app-fotos-c0385.firebasestorage.app/o/gpp%2Fgaleria%2FDSC_0533.jpg?alt=media&token=d1d42a3d-b3b7-4f8e-a229-62fe056068fc"/>
      <img src="https://firebasestorage.googleapis.com/v0/b/app-fotos-c0385.firebasestorage.app/o/gpp%2Fgaleria%2FDSC_0480.jpg?alt=media&token=d8e88fe4-f825-47b7-9a88-98fd7811a442"/>
      <img src="https://firebasestorage.googleapis.com/v0/b/app-fotos-c0385.firebasestorage.app/o/gpp%2Fgaleria%2FDSC_0469.jpg?alt=media&token=3631263d-8918-4906-99db-0837e77cd459"/>
      <img src="https://firebasestorage.googleapis.com/v0/b/app-fotos-c0385.firebasestorage.app/o/gpp%2Fgaleria%2FDSC_0459.jpg?alt=media&token=9cd8002b-5c35-4e45-86fa-68c5596a65aa"/>
        
    </div>
  </div>
  <button class="slider_button prev" (click)="moveSlide(-1)">&#10094;</button>
  <button class="slider_button next" (click)="moveSlide(1)">&#10095;</button>
</div>
<!-- FIN Slider Logo -->

