<section class="section">
    <div class="container">
      <h2 class="section-title">Nuestros Valores</h2>
      <div class="content">
        <p class="description">
          Los valores de Grupo Primeros Pasos están constituidos por los principios éticos que definen nuestra identidad y guían nuestras acciones, decisiones, comportamientos y cultura. Sirven como un modelo de conducta para todos los integrantes, en todo momento; y como referente de identificación para el público objetivo.
        </p>
        <div class="values-grid">
          <div class="value-item">CALIDAD DE VIDA</div>
          <div class="value-item">MEJORA CONTINUA</div>
          <div class="value-item">DISCIPLINA</div>
          <div class="value-item">EXCELENCIA</div>
          <div class="value-item">RESPONSABILIDAD</div>
          <div class="value-item">GRATITUD</div>
          <div class="value-item">LIDERAZGO PERSONAL</div>
          <div class="value-item">GESTIÓN</div>
          <div class="value-item">ÉXITO</div>
          <div class="value-item">COMPROMISO PERSONAL</div>
          <div class="value-item">EXPANSIÓN</div>
          <div class="value-item">TRABAJO EN EQUIPO</div>
          <div class="value-item">SERVICIO</div>
          <div class="value-item">CONCIENCIA</div>
          <div class="value-item">TRANSFORMACIÓN CONSTANTE</div>
          <div class="value-item">ESPIRITUALIDAD ACTIVA</div>
          <div class="value-item">INTEGRACIÓN HOLÍSTICA</div>
        </div>

      </div>
    </div>
  </section>