

/* styles.css */
:root {
  --primary-color: #073763; /* Color azul oscuro */
  --accent-color: #ff6600; /* Color del botón de contacto */
  --font-color: #ffffff; /* Color del texto */
}

body {
  margin: 0;
  font-family: "Alice", serif;
  font-weight: 400;
  font-style: normal;
  color: var(--font-color);
  background-color: #F7F7F7;
}


/* styles.css */
html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: "Alice", serif;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
  /* Esto asegura que el contenido principal ocupe el espacio restante */
}

app-footer {
  /* Si quieres un fondo específico para el footer */
  background-color: var(--primary-color); 
  color: var(--font-color); 
}

html, body { height: 100%; }
