
<section class="seminarios-section">
    <div class="seminario" style="background-image: url('../../../../assets/seminarios/compromiso.jpg');">
      <div class="seminario-content">
        <h2>Seminario de Compromiso Personal</h2>
   <!--  <a href="#/" class="btn-inscribirse">Más información</a>   -->     
        <a href="#/form" class="btn-inscribirse">Inscribirme</a>
      </div>
      
    </div>
    <div class="seminario" style="background-image: url('../../../../assets/seminarios/excelencia-personal.jpg');">
      <div class="seminario-content">
        <h2>Seminario de Excelencia Personal</h2>
        <p class="none">El seminario de EXCELENCIA PERSONAL, AUTOESTIMA Y LIDERAZGO es un entrenamiento grupal de 9 módulos de duración (1 por mes), diseñado para que vos como participante logres desafiar tus propios paradigmas y miedos; desarrollando habilidades potenciales y explorando tu propio mundo interior más allá de todos tus supuestos “no puedo”, de una manera nunca antes experimentada.</p>
        <button class="btn-inscribirse" (click)="abrirModal()">Más información</button>
        <a href="#/form" class="btn-inscribirse">Inscribirme</a>
      </div>
    </div>
    <div class="seminario" style="background-image: url('../../../../assets/Seminario\ Gratuito.jpg');">
      <div class="seminario-content">
        <h2>Seminario Gratuito: "Rumbo a la Abundancia"</h2>
        <p class="none">Totalmente gratuito con este seminario pretendemos que logres conectar con la abundancia de tu vida de una manera concreta, eficiente, profesional y sobre todo CON RESULTADOS COMPROBADOS desde la fundación de nuestra escuela de liderazgo hace 13 años.</p>
   <!--  <a href="#/" class="btn-inscribirse">Más información</a>   -->     
   <a href="#/form" class="btn-inscribirse">Inscribirme</a>
      </div>
    </div>
    <div class="seminario" style="background-image: url('../../../../assets/seminarios/espiritualidad.jpg');">
      <div class="seminario-content">
        <h2>Seminario de Espiritualidad activa y transformación esencial</h2>
        <a href="https://wa.me/2615723091" target="_blank" class="btn-inscribirse">Más información</a>
      </div>
    </div>
  </section>
  