<div mat-dialog-content class="modal-container">
    <button mat-icon-button class="close-button" mat-dialog-close aria-label="Cerrar" (click)="cerrarModal()">
        <mat-icon>close</mat-icon>
    </button>
    <h1 class="modal-title">SEMINARIO GRATUITO RUMBO A LA ABUNDANCIA</h1>
    <p>Beneficios: </p>
    <ul>
        <li>Comenzar una vida más abundante y próspera.</li>
        <li>Poder salir del ESTANCAMIENTO y estados de ansiedad.</li>
        <li>Tener claridad en lo que uno quiere.</li>
        <li>Poder conectar con el agradecimiento.</li>
        <li>Dejar las quejas de lado.</li>
        <li>Combatir las debilidades, el autoengaño y autosaboteo.</li>
        <li>Tener más confianza en uno mismo.</li>
        <li>Identificar los límites que bloquean mi crecimiento.</li>
        <li>Ordenar las prioridades alineando las conductas y emociones al servicio de las metas.</li>
        <li>Organizar estrategias personales y profesionales.</li>
        <li>Obtener información de mi propia vida y dar mis primeros pasos rumbo a un estado de realización, entre muchos beneficios más.</li>
    </ul>
</div>